services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Moscow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"

  web:
    build: .
    image: tenp30/shk15-table-missing-web:latest
    restart: always
    command: /entrypoint.sh
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "80:8000"
    depends_on:
      - db

volumes:
  postgres_data: